{% extends "base.html" %}
{% block style %}
*{
    margin : 0;
    padding : 0;
}
#main{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: lightblue;
    height: 200px;
    width: 90%;
    margin : 10px;
}
#t1{
    display: inline-block;
    margin-top : 70px;
    margin-left : 500px;
}
.i1{
    overflow: hidden;
    height : 120px; 
}
.i1 a{
    text-decoration : none;
    color : black;
}
{% endblock style %}

{% block body %}
<div id="main">
    <div class="item" id="i1">
        <div id="t1">
            <h1>Technical Blog`s</h1>
        </div>
    </div>
    {% for post in posts %}
    
        <div class="item i1">
            <a href="/post/{{post.id}}">
                <h2>{{post.title}}</h2>
                <h5>{{post.created_at}}</h5>
                <p>{{post.dec | truncatewords:20}}</p>
            </a>
        </div>
    {% endfor %}
</div>

<div class="add">
    <h3>
        To create new blogs click here :- <a href="/add">Add New Blog</a>
    </h3>
</div>
{% endblock body %}